
*{
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    right: 0;
}

body {
    background-color: #fff;
    height: 100vh;
    display: grid;
    place-items: center center;
}

/*================= NAVBAR =============*/

nav {
    top:0;
    padding-top: 1.8rem;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: #a8bbff;
}

nav .logo {
    margin-top: 22px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0.8rem 1.5rem;  
}

nav ul li a {
    color: #1b2d6f;
    text-decoration: none;
    font-size: 17px;
    font-weight:bold;
    padding: 2px 5px;
    transition: 0.5s ease;
}

nav ul li a:hover{
    background:rgba(255,255,255,0.8);
    color:#7D96F0;
    border-radius: 10px;
}

/*=============== CARDZ ===============*/

.max-width h2{
    text-align: center;
    position: relative; 
    color:#a8bbff ;
    font-size: 50px;
    margin-bottom: 60px;
    padding-bottom: 20px;  
   }
   .max-width h2::after{
       content: '';
       position: absolute;
       width: 300px;
       height: 3px;
       bottom: 0;
       background:#a8bbff ;
       left: 50%;
       transform: translateX(-50%);
   }

   #one{
    margin-bottom: auto;
        }

.cards {
    margin-top: 7rem;
    padding: 20px;
}

.card {
    background-color: #a8bbff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    width: 22rem;
    margin: 35px;
}

.container {
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%,0 100%);
}

.container img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.details {
    padding: 30px 20px ;
    text-align: center;
}

.details h4 {
color: #fff;
font-weight: 700;
font-size: 40px;
text-align: center;
margin: 10px 0 15px 0;
}

.cards-container {
    display: flex; 
    flex-wrap: wrap;
}

.btn{
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
}
.btn a{
    background-color:#7D96F0 ;
    color: #fff;
    padding: 10px 10px;
    border-radius: 7px;
    display: inline-flex;
    transition: 0.2s;
    text-decoration: none;
}
.btn a:hover{
    transform: scale(0.9);
}