/**{
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 0;
}

body {
    background: linear-gradient(#7D96F0,#A770F0);
    height: 100vh;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

a{
    text-decoration: none;
    color:white;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    height: 80px;
}

header .logo {
    display: flex;
    justify-content: center;
   align-items: center;
   margin-top:25px;
}


header ul {
    display: flex;
  
    align-items: center;
    
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
}

header ul li a:hover {
    background: white;
    color:#7D96F0;
    border-radius: 18px;
}

.main {
    width: 100%;
    padding-left:5%;
    padding-right: 5%;
    background: linear-gradient(#b0c0f8,#d1b3f8);
    height: 100vh;
    margin-right: 8%;
    margin-left: 8%;

}*/

/**{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
    
}

body {
    background: linear-gradient(#99adf6,#c090ff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
 
body::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(181, 101, 255);
    position: absolute;
    clip-path:circle(25% at left 75% );
    z-index: -1;
    
}


.container {
    width: 80%;
    height:50%;
    background-color:rgba(255,255,255,0.3);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 4px 10px;
    overflow: hidden;
    right: 0;
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 15px 0;
    top: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 6px;
}

nav ul li a {
    color: #1b2d6f;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
}

nav ul li a:hover{
    background:rgba(255,255,255,0.8);
    color:#7D96F0;
    border-radius: 18px;
    transition: 0.7s ease;
}

.content {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    padding: 0;
    right: 0;
    box-sizing: border-box;
    width: 90%;
    margin-top: 10px;
}

.content .text {
    color:#499383;
    padding: 20px 30px;
    border-radius: 15px;
    width: 35%;
    box-shadow: rgba(33, 33, 33, 0.274) 0px 2px 5px;
    background-color:#c9a7f66e ;
    margin: auto;
}

.content .text h2 {
    box-sizing: border-box;
    font-size: 40px;
    font-weight: 900;
}

.content .text p {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
    margin: 8px 0;
    word-spacing: 1px;
    color: #ffffff;

}

.content .img {
    width: 50%;
}

.content .img img {
    width: 670px;
}

.abuot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    padding: 50px;
    width: 100%;
    flex-direction: column;
}*/

/**{

    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    right: 0;
}

body{
    background: linear-gradient(#99adf6,#c090ff);
}


.container {
    height: 75vh;
    width: 78%;
    background-color:rgba(255,255,255,0.2);
    background-size:cover;
    background-position:center;
    margin: auto;
    margin-top: 75px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.297) 2px 4px 10px;
}

.container::after {
    content: '';
    width: 100%;
    height: 80%;
    background-color: rgba(181, 101, 255, 0.573);
    position: absolute;
    clip-path:circle(38% at left 80% );
    z-index: -1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 4%;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    height: 75px;
    background: linear-gradient(#99adf6e3,#c090ffe1);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

nav .logo {
    margin-top: 48px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 25px;   
}

nav ul li a {
    color: #1b2d6f;
    text-decoration: none;
    font-size: 17px;
    font-weight:bold;
    text-transform: capitalize;
    padding: 2px 5px;
}

nav ul li a:hover{
    background:rgba(255,255,255,0.8);
    color:#7D96F0;
    border-radius: 18px;
    transition: 0.5s ;
}

.content {
    position:absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    display: flex;
}

.content .text {
    width: 60%;
    margin-top: 45px;
    margin-right: 45px;
}

h1 {
    color: white;
    font-size: 65px;
    
}

p {
    font-size: 20px;
    word-spacing: 1px;
    line-height: 40px;
}

.content .img {
    width: 60%;
    margin-top: 25px;
    margin-left: 100px;
    box-sizing: border-box;
}


.abuot {
    margin-top: 150px;
}*/

*{
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    right: 0;
    font-size: 16px;
}

h1 {
    color: white;
    font-size: 3.9rem;
    margin:0 9.5rem;
    position: relative;
    bottom: 15px;
}

h3 {
    font-size:1.5rem ;
}

p {
    font-size: 1.4rem;
    word-spacing: 0.1rem;
 }



nav {
    padding-top: 1.8rem;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

nav .logo {
    margin-top: 48px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0.8rem 1.5rem;  
}

nav ul li a {
    color: #1b2d6f;
    text-decoration: none;
    font-size: 17px;
    font-weight:bold;
    padding: 2px 5px;
    transition: 0.5s ease;
}

nav ul li a:hover{
    background:rgba(255,255,255,0.8);
    color:#7D96F0;
    border-radius: 10px;

}

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#99adf6,#c090ff);
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    padding:0 11% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .text {
    width: 50%;
    position: relative;
   
}

.imges {
    width: 37%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.imges img {
    position: absolute;
    bottom: 0;
    height: 85%;
    right: 50%;
    transform: translateX(50%);
    transition:bottom 0.7s , right 0.7s ;
}

.imges:hover .shape {
    bottom: 50px;
}

.imges:hover .img1 {
    right: 42%;
}