*{
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 0;
    right: 0;
}

body {
    background: linear-gradient(#7D96F0,#A770F0);
    height: 100vh;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

a{
    text-decoration: none;
    color:white;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    height: 80px;
}

header .logo {
    display: flex;
    justify-content: center;
   align-items: center;
   margin-top:25px;
}


header ul {
    display: flex;
  
    align-items: center;
    
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
}

header ul li a:hover {
    background: white;
    color:#7D96F0;
    border-radius: 18px;
}

