/**{
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 0;
}

body {
    background: linear-gradient(#7D96F0,#A770F0);
    height: 100vh;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

a{
    text-decoration: none;
    color:white;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    height: 80px;
}

header .logo {
    display: flex;
    justify-content: center;
   align-items: center;
   margin-top:25px;
}


header ul {
    display: flex;
  
    align-items: center;
    
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
}

header ul li a:hover {
    background: white;
    color:#7D96F0;
    border-radius: 18px;
}

.main {
    width: 100%;
    padding-left:5%;
    padding-right: 5%;
    background: linear-gradient(#b0c0f8,#d1b3f8);
    height: 100vh;
    margin-right: 8%;
    margin-left: 8%;

}*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
    
}

body {
    background: linear-gradient(#99adf6,#c090ff);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
 
body::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(181, 101, 255);
    position: absolute;
    clip-path:circle(25% at left 75% );
    z-index: -1;
    
}


.container {
    width: 80%;
    height: 80%;
    background-color:rgba(255,255,255,0.3);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 4px 10px;
    overflow: hidden;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 15px 0;
    top: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 6px;
}

nav ul li a {
    color: #1b2d6f;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
}

nav ul li a:hover{
    background:rgba(255,255,255,0.8);
    color:#7D96F0;
    border-radius: 18px;
}

.content {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    padding: 0;
    right: 0;
    box-sizing: border-box;
    width: 90%;
    margin-top: 10px;
}

.content .text {
    color:#54a896;
    padding: 37px 60px;
    border-radius: 15px;
    width: 40%;
    box-shadow: rgba(33, 33, 33, 0.274) 0px 2px 5px;
    background-color:#c9a7f66e ;
    margin: auto;
}

.content .text h2 {
    box-sizing: border-box;
    font-size: 45px;
    font-weight: 900;
}

.content .text p {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 40px;
    margin: 8px 0;
    word-spacing: 2px;
    color: #cbfff4;

}

.content .img {
    width: 45%;
}

.content .img img {
    width: 600px;
   
}

